@model PressFitApi.Models.Product

@{
    ViewBag.Title = "Edit";
}


<script>
    function myFunction() {
        var copyText = document.getElementById("fileValue");
        copyText.select();
        document.execCommand("copy");
        return false;
        //alert("Copied the text: " + copyText.value);
    }
</script>



@using (Html.BeginForm("FileEditName", "Products1", FormMethod.Post, new { enctype = "multipart/form-data", name = "editForm", id = "editForm" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)


        <div class="form-group">
           

            <div class="form-group">
                @Html.LabelFor(model => model.FileName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FileName, new { htmlAttributes = new { @class = "form-control", id = "fileName" } })
                    @Html.ValidationMessageFor(model => model.SearchTags, "", new { @class = "text-danger" })
                </div>
            </div>
          
            <div class="col-md-12">
                @{var fileValue = "https://brochures.pressfitindia.com/PdfUploads/PdfUploads/" + @Model.FileName.ToString() + ".pdf";
                }
                <label class="control-label col-md-2">File Url:</label>
                <input type="text" id="fileValue" class="form-control col-md-6" value=@fileValue readonly>
                <span class="col-md-1"></span>
                <button onclick="myFunction(); return false;">Copy text</button>

            </div>

        </div>





        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">

                <input type="submit" value="Save" class="btn btn-default" id="btnSubmit" />
            </div>
        </div>
    </div>


                    }

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/Content/themes/base")
    @Scripts.Render("~/bundles/jqueryui")
}
