@model IEnumerable<PressFitApi.Models.Product>

@{
    ViewBag.Title = "Index";
}

<script>
    $(document).ready(function () {

        $("input[name='item.HighPriority']").change(

            function (e) {
                // code here to hide your text

                var checked = $(this).attr('checked');

                //alert('hello');
                $.post('Products1/UpdatePriority', { id: e.target.id },
    function (returnedData) {
        console.log(returnedData);
    }).fail(function () {
        console.log("error");
    });

            }
       );


    });

    function FileEdit(msg) {
        if (msg) {
            document.getElementById('hiddenValue').value = true;
            //$("#editForm").submit();
            return true;
        } else {
            document.getElementById('hiddenValue').value = false;
            //$("#editForm").submit();
            return true;
        }
    }

    var Id;

    function ShowDialog(itemId) {
        Id = itemId;
    }
</script>

@using (Html.BeginForm("Create", "Products1", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    @Html.AntiForgeryToken()

    <h2>Product List</h2>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>

            <th class="col-md-3">
                @Html.DisplayNameFor(model => model.SearchTags)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.FileName)
            </th>
            <th>
                Pdf Size(Mb)
            </th>
            <th>
                Image Size(Mb)
            </th>
            <th>
                Priority
            </th>

        </tr>

        @foreach (var item in Model)
        {
            int itemId = item.Id;
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.SearchTags)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.FileName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.PdfSize)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.ImageSize)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.PriorityNumber)
                </td>


                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
                    
                    @*<input type="button" title="FileEdit" name="FileEdit" value="FileEdit"  onclick="ShowDialog(itemId);" />*@

                    @Html.ActionLink("FileEdit", "FileEdit", new { id = item.Id },
                 new { onclick = "return confirm('Caution! Changing the File Name could break the Hyperlinks on the Main Website. Do you still want to continue?');" })
                    @*@Html.ActionLink("File Edit", "FileEdit", new { id = item.Id })*@

                </td>
            </tr>


        }

    </table>

    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <!-- Modal body -->
                <div class="modal-body">
                    <h4>Do you want to broadcast ?</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button><br />
                    <button type="button" class="btn btn-primary" id="yesBtn" onclick="FileEdit(1)" data-dismiss="modal">Yes</button>
                    <button type="button" class="btn btn-primary" id="noBtn" onclick="FileEdit(0)" data-dismiss="modal">No</button>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">

                </div>

            </div>
        </div>
    </div>

}