@{
    ViewBag.Title = "Press Fit";
}


@{
    if (!User.Identity.IsAuthenticated)
    {
        Layout = "";
    }
}

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/modernizr")
@Styles.Render("~/Content/pressfit.css")

@if (!User.Identity.IsAuthenticated)
{
    <body style="padding-top:0px;">
        <button type="button" class="btn btn-danger loginbtn" onclick="@("window.location.href='" + @Url.Action("login", "account") + "'");">Log In</button>


        <a href="http://www.pressfitindia.com/">
            <img src="~/Content/Images/PressFitImg.jpg" width="100%" height="90%" class="responsive">
        </a>
    </body>
}



    @*<div class="navbar-collapse collapse">

        @Html.Partial("_LoginPartial")
    </div>*@
    @*<div class="jumbotron">
        <h1>Press Fit</h1>
        <p class="lead">Our Quality, Your Solution</p>
        <p><a href="http://www.pressfitindia.com/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>*@

